# Aliases ----------------------------------------------
# System
alias zshrc="nvim ~/.zshrc"
alias reload="source ~/.zshrc"
alias c="clear"
alias cat="bat -P"
alias mkdir="mkdir -p"
alias n="nvim"
alias vim="nvim"
alias vi="nvim"
alias v="nvim"
alias grep="rg"
alias gs="git status"
alias ff="fastfetch"

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias dl="cd ~/Downloads"

# ls
alias ls="lsd --group-dirs=first"
alias la="lsd -A --group-dirs=first"
alias ll="lsd -lh --group-dirs=first"
alias lla="lsd -lAh --group-dirs=first"
alias lt="lsd --tree --depth=4 --group-dirs=first"
alias lta="lsd --tree -A --depth=4 --group-dirs=first -I .git"
alias ldot="lsd -ld .* --group-dirs=first"
alias lf="yazi"

# rm
alias rm="rmtrash"
alias rmdir="rmdirtrash"

# dnf
alias dinstall="dnf install -y"
alias dsearch="dnf search"
alias dremove="dnf remove -y"

# Print each PATH entry on a separate line (optionally pass -s to show blank lines)
alias path='echo "$PATH" | tr ":" "\n"'

# Functions ----------------------------------------------
note() {
    # Check if file exits
    if [[ ! -f $HOME/notes.txt ]]; then
        touch $HOME/notes.txt
    fi

    # Parse clear options
    local OPTIND OPTARG opt
    while getopts ":c:" opt; do
        case "$opt" in
            c) local steps=${OPTARG}; note_chop steps; return ;;
            *) echo "invalid option"; return 1 ;;
        esac
    done
    shift $((OPTIND - 1))
    
    # If no args are passed, cats notes
    if [[ $# -eq 0 ]]; then
        cat $HOME/notes.txt
        return
    fi

    # Add notes
    echo "date: $(date)" >> $HOME/notes.txt
    echo "$@" >> $HOME/notes.txt
    echo ""
}

note_chop() {
    local items=$1

    # Calculate how many lines to skip
    local skip=$(( items * 2 ))

    # Count total lines
    local total
    total=$(wc -l < "$HOME/notes.txt")

    # If file is shorter then empty it
    if (( total <= skip )); then
        : > "$HOME/notes.txt"
        return 0
    fi

    # Otherwise skip N lines safely
    tail -n +"$((skip + 1))" "$HOME/notes.txt" > "$HOME/notes.tmp" &&
    mv "$HOME/notes.tmp" "$HOME/notes.txt"
}

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}
